<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
<head>
  <meta charset="utf-8">
  <meta name="generator" content="pandoc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
$for(author-meta)$
  <meta name="author" content="$author-meta$">
$endfor$
$if(date-meta)$
  <meta name="dcterms.date" content="$date-meta$">
$endif$
$if(keywords)$
  <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$">
$endif$
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$$if(title-suffix)$ - $title-suffix$$endif$ - lahteenmaki.net</title>
  <style type="text/css">code{white-space: pre;}</style>
$if(quotes)$
  <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$">
$endfor$
$if(math)$
  $math$
$endif$
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->
$for(header-includes)$
  $header-includes$
$endfor$
</head>
<body>
<div class="container">
  <div class="header">
    <h1 class="blog">$title-suffix$ <a href="https://lahteenmaki.net">- lahteenmaki.net</a></h1>
  </div>
  <div class="section">
    $for(include-before)$
      $include-before$
    $endfor$

    $if(title)$
    <header>
      <h1 class="title">$title$</h1>
      $if(subtitle)$
        <p class="subtitle">$subtitle$</p>
      $endif$
      $for(author)$
        <p class="author">$author$</p>
      $endfor$
      $if(date)$
        <p class="date">$date$</p>
      $endif$
      $if(keywords)$
      <p class="tags">Tags: 
        $for(keywords)$
          <a href="tags/$keywords$/">$keywords$</a>
        $endfor$
      </p>
      $endif$
    </header>
    $endif$

    $if(toc)$
      <nav id="$idprefix$TOC">
      $toc$
      </nav>
    $endif$

$body$
    
    $for(include-after)$
      $include-after$
    $endfor$
  </div>

  <div class="section" id="disqus_thread"></div>

  <script>
    var disqus_config = function () {
      this.page.url = 'https://blog.lahteenmaki.net/$filename$';
      this.page.identifier = 'https://blog.lahteenmaki.net/$filename$';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://lahteenmaki.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                                

</div>
</body>
</html>