
<ol class="posts">
$for(post)$
	<li>
		<div>
			<span class="date">$post.date$</span>
			<a href="$post.filename$">$post.title$</a>
		</div>
		<div>$post.description$</div>
	</li>
$endfor$
</ol>

<ul class="tags">
$for(keywords)$
	<li><a href="tags/$keywords$/">$keywords$</a></li>
$endfor$
</ul>