html {
	overflow-x: hidden;
}

.section {
	width: 80%;
	max-width: 50em;
	padding: 2em;
	transform: none !important;
	-webkit-transform: none !important;
	-ms-transform: none !important;
	-moz-transform: none !important;
	-o-transform: none !important;
	position: relative;
}

.section, .section h1 {
	font-family: sans-serif;
    font-weight: lighter;
}

.author {
	position: absolute;
	bottom: 0;
	right: 1em;
	font-style: italic;
    font-size: 0.85em;
}
.tags {
	position: absolute;
	top: 0;
	right: 1em;
	font-style: italic;
    font-size: 0.85em;
}
.tags a {
	font-style: normal;
	padding-left: 0.5em;
	font-weight: bold;
}
p.date {
	font-style: italic;
    font-size: 0.85em;
    padding-left: 1em;
    position: absolute;
    top: 0;
    left: 1em;
}
span.date {
	font-size: 0.75em;
    font-weight: lighter;
    padding: 0 1em;
    padding-top: 0.2em;
    font-style: italic;
    float: left;
}

div.sourceCode {
	width: 100%;
    padding-right: 0;
}
pre.sourceCode {
    padding: 0.5em;
    overflow-x: scroll;
    font-size: 0.9em;
}

.header {
	font-size: 0.75em;
}
h1 > a {
	padding-left: 1em;
	opacity: 0.3;
	white-space: nowrap;
}

.posts {
	font-family: serif;
	float: left;
}

ul.tags {
	float: right;
    position: relative;
    list-style-type: none;
    text-align: right;
}

li {
	list-style-type: none;
}