.section {
	width: 80%;
	max-width: 50em;
	padding: 2em;
	transform: none !important;
	-webkit-transform: none !important;
	-ms-transform: none !important;
	-moz-transform: none !important;
	-o-transform: none !important;
	position: relative;
}

.section, .section h1 {
	font-family: sans-serif;
    font-weight: lighter;
}

.author {
	position: absolute;
	bottom: 0;
	right: 1em;
	font-style: italic;
    font-size: 0.85em;
}
.tags {
	position: absolute;
	top: 0;
	right: 1em;
	font-style: italic;
    font-size: 0.85em;
}
.tags a {
	font-style: normal;
	padding-left: 0.5em;
	font-weight: bold;
}
.date {
	font-style: italic;
    font-size: 0.85em;
    padding-left: 1em;
    position: absolute;
    top: 0;
    left: 1em;
}

div.sourceCode {
	width: 100%;
    padding-right: 0;
}
pre.sourceCode {
    margin: 0;
    overflow-x: scroll;
    font-size: 0.9em;
}

h1 a {
	padding-left: 1em;
	opacity: 0.3;
}